@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,500,500i');

.text-data {
  color: #000;
  font-family: 'Roboto-Mono', monospace;
  margin: auto;
}

.website-top-level {
  text-align: center;
}

.text-btn {
  color: #fff;
  font-family: 'Roboto-Mono', monospace;
}

.text-key {
  color: #000;
  font-family: 'Roboto-Mono', monospace;
  margin-bottom: 20px;
}

.app-name { max-width: 300px; }

.app-container {
  margin: auto;
}

.app-row {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.plot-col {
  margin: 0px;
  padding: 0px;
}

.plot-row {
  margin: 0px;
  padding: 0px;
}

.vslider {
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}
